mat-toolbar {
    background: #fcfcfc;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 3px solid #666666;
    border-color: #666666;

    span {
        color: white;
    }

    .logo {
        font-weight: bold;
        height: auto;
        margin: auto 0;
        color: #666666;
        text-transform: uppercase;
        text-decoration: none;
    }

    .example-fill-remaining-space {
        flex: 1 1 auto;
      }
}