.header {
    width: 100vw;
    font-size: 20px;
    border-bottom: 2px solid #c8c8c8;

    .logo {
        font-size: 22px;
        font-weight: bold;
        margin: auto 0;
        text-transform: uppercase;
    }
}