<h2>Dashboard</h2>
<!-- <app-spinner [size]="200" [value]="64 / 100" [width]="10" [title]="'Hours'">
  <h2>
    64/100
  </h2>
</app-spinner>
<app-spinner [size]="200" [value]="87 / 160" [width]="10" [title]="'Hours'"
  ><h2>87/160</h2></app-spinner
>
<app-spinner [size]="200" [value]="1700 / 3000" [width]="10" [title]="'Month'"
  ><h2>1.7k/3.0k</h2></app-spinner
>
<app-spinner [size]="200" [value]="18400 / 80300" [width]="10" [title]="'Year'"
  ><h2>18.4k/80.3k</h2></app-spinner
> -->
<!-- <div><h3>Hours last week</h3></div> -->
<div class="card">
  <h2>This week</h2>
  <app-spinner [size]="100" [value]="22/40" [width]="5" [title]="'Hours'"
  ><h2>22/40</h2></app-spinner
>
<app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Income'"
  ><h2>87/160</h2></app-spinner
>
<app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
  ><h2>87/160</h2></app-spinner
>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos fugit repellat, ea, soluta similique, laboriosam consectetur ullam rerum repudiandae quisquam omnis ipsam animi. Alias maxime dicta ratione est officiis. Repellat?</p>
</div>
<div class="card">
    <h2>Title</h2>
    <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
    ><h2>87/160</h2></app-spinner
  >
  <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
    ><h2>87/160</h2></app-spinner
  >
  <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
    ><h2>87/160</h2></app-spinner
  >
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos fugit repellat, ea, soluta similique, laboriosam consectetur ullam rerum repudiandae quisquam omnis ipsam animi. Alias maxime dicta ratione est officiis. Repellat?</p>
  </div>
  <div class="card">
      <h2>Title</h2>
      <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
      ><h2>87/160</h2></app-spinner
    >
    <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
      ><h2>87/160</h2></app-spinner
    >
    <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
      ><h2>87/160</h2></app-spinner
    >
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos fugit repellat, ea, soluta similique, laboriosam consectetur ullam rerum repudiandae quisquam omnis ipsam animi. Alias maxime dicta ratione est officiis. Repellat?</p>
    </div>
<div class="card">siema</div>
<div class="card">
    <h2>Title</h2>
    <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
    ><h2>87/160</h2></app-spinner
  >
  <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
    ><h2>87/160</h2></app-spinner
  >
  <app-spinner [size]="100" [value]="87 / 160" [width]="5" [title]="'Hours'"
    ><h2>87/160</h2></app-spinner
  >
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos fugit repellat, ea, soluta similique, laboriosam consectetur ullam rerum repudiandae quisquam omnis ipsam animi. Alias maxime dicta ratione est officiis. Repellat?</p>
  </div>
