/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #666666;
}

a {
    color: #666666;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.color {
    color: #1fce6d//#8CAA46;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

button {
    border: 0;
    background-color: transparent;
}