form {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  
    div.form-group {
      position: relative;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      flex-flow: row wrap;
      margin: 0 0 10px 0;
      width: 350px;
  
      label {
        color: #6d7781;
        text-transform: uppercase;
        position: absolute;
        height: 10px;
        font-size: 10px;
        top: 0;
      }
  
      label.hint {
        visibility: hidden;
        opacity: 0;
        bottom: 3px;
        top: auto;
        transition: visibility 1s, color 1s, opacity 1s;
      }
  
      input {
        background-color: transparent;
        vertical-align: middle;
        border: 0;
        font-size: 16px;
        color: #ffffff;
        padding: 20px 0;
        outline: none;
        width: 100%;
  
        &:focus.is-invalid {
          & + label {
            visibility: visible;
            opacity: 1;
            color: #f06d06;
  
            & + div.bar {
              border-color: #f06d06;
            }
          }
        }
  
        &.is-valid ~ div.bar {
          border-color: #1fce6d;
        }
      }
  
      button {
        width: 100%;
        font-size: 16px;
        background-color: dodgerblue;
        border: 0;
        border-radius: 5px;
        padding: 10px 0;
        color: white;
        transition: background-color 1s;
  
        &:hover {
          background-color: royalblue;
        }
  
        &.is-valid {
          background-color: #1fce6d;
        }
      }
  
      div.bar {
        border-bottom: 1px solid #435160;
        width: 100%;
        height: 1px;
        transition: border-color 1s;
      }
    }
  }
  