<app-header></app-header>
<app-middle-container>
  <app-sidenav #sidenav [ngStyle]="{ 'flex-basis.px': sidenav.width }" (mouseenter)="sidenav.open()"  (mouseleave)="sidenav.close()">
    <h2>N<span *ngIf="sidenav.opened">avigation</span></h2>
    <a routerLink="/dashboard" routerLinkActive="active">D<span *ngIf="sidenav.opened">ashboard</span></a>
    <a routerLink="/test" routerLinkActive="active">T<span *ngIf="sidenav.opened">esting</span></a>
    <a routerLink="/" (click)="logout()">L<span *ngIf="sidenav.opened">ogout</span></a>
  </app-sidenav>
  <app-content>
    <router-outlet></router-outlet>
  </app-content>
</app-middle-container>
<app-footer></app-footer>