/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.main-content {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    top: 4em;
    bottom: 4em;
    height: auto;
    width: 100%;
    background: #404040;
    color: #ffffff;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.hidden {
    visibility: hidden;
}